<div [routerLink]="['/events' ,event?.id]" class="well hoverwell thumbnail">
  <!-- routerlink will navigates us to the event with the corresponding id , takes it as a parameter
  actually its an array which includes URL segments allong with URL parameters , its like building the URL e.g /events/5 -->
  <h2>{{event?.name}}</h2>
  <p>Date:{{event?.date|date}}</p>
  <div [ngSwitch]="event?.time">Time:{{event?.time}}
    <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
    <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
    <span *ngSwitchDefault>(Normal Start)</span>
  </div>
  <p>Price:{{event?.price|currency}}</p>
  <div>
    <span>Location:{{event?.location?.address}},</span>
    <span>&nbsp;</span>
    <span>{{event?.location?.city}}, {{event?.location?.country}}</span>
  </div>
  <button class="btn btn-primary" (click)="handleClickMe(event)">Details</button>

</div>

<!-- everythime the button is clicked will execute the handleClickMe method which will emit an event to the parent component  -->



